---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name }}</title>
    <link>{{ site.url }}/</link>
    <description>{{ site.tagline }}</description>
    <language>en-us</language>
    <lastBuildDate>{{ build.date | dateRFC822 }}</lastBuildDate>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
{%- for item in collections.featuredPages %}{% if loop.index <= 20 %}
    <item>
      <title>{{ item.data.title }}</title>
      <link>{{ site.url }}{{ item.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ item.url }}</guid>
      <pubDate>{{ item.data.date | dateRFC822 }}</pubDate>
      <category>{% if item.data.section == 'tool' %}Tool{% elif item.data.section == 'rounds' %}Rounds{% elif item.data.section == 'talk' %}Talk{% elif item.data.section == 'fun' %}Game{% else %}Module{% endif %}</category>
      <description>{{ item.data.description }}</description>
    </item>
{% endif %}{%- endfor %}
  </channel>
</rss>
